.button {
    display:flex;
}

.cmp-button {
    text-transform: uppercase;
    color:$black;
    font-size: $font-size-small;
    background-color: $brand-third;
    font-weight: $font-weight-bold;
    float: left;
    height: $button-size;
    min-width: $button-size;
    border-radius: $button-border-radius;

    .cmp-button__text {
        padding: 1rem 2rem;
        float:left;
    }
}

// primary variation
.cmp-button--primary {

    .cmp-button {
        background-color: $brand-primary;
    }
}

// secondary variation
.cmp-button--secondary {

    .cmp-button {
        background-color: $brand-secondary;
        color: $text-color-inverse;
    }
}

.cmp-button {

    .cmp-button__icon {
        float: left;
        padding-top: 18px;
        padding-left: 14px;
        font-size: 1.25em;
    }
    
    .cmp-button__icon--facebook {
        &:before {
            content: $wkndicon-facebook; 
        }
    }
    .cmp-button__icon--twitter {
        &:before {
            content: $wkndicon-twitter; 
        }
    }
    .cmp-button__icon--instagram {
        &:before {
            content: $wkndicon-instagram; 
        }
    }
}

.cmp-button--icononly {

    .cmp-button {
        width: $button-size;
        height: $button-size;
    
        .cmp-button__icon {
            float: left;
        }

        .cmp-button__text {
            display: none;
        }
    }
}
