
.cmp-carousel {

    .cmp-carousel__content {
      position: relative;
    }

    .cmp-carousel__item {
        @include animated();
        @include fadeIn();

        display: none;
        &--active {
            display: block;
        }
    }

    .cmp-carousel__indicators {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;
      padding: 0;
      list-style: none;
      margin-top: 0.5em;
      cursor: pointer;
    }



   .cmp-carousel__indicator {
     position:relative;
     flex:0 1 auto;
     width:10px;
     height:10px;
     margin:0 7px;
     border-radius:50%;
     font-size:0;
     text-indent:-3000px;
     background-color:rgba(0,0,0,0.5);

     &--active {
       background-color:rgba(0,0,0,0.8)
     }

   }


   .cmp-carousel__actions {
        float: right;
        margin-top: 0;
    }

    .cmp-carousel__action {
        border: none;
        padding-right:0px;
        margin-right: 1em;
        background:none;
        appearance:none;
    }

    .cmp-carousel__action-text {
        display: none;
    }

    .cmp-carousel__action-icon {
        cursor: pointer;
       // font-family: "Wkndicons";
       // font-size: 2rem;
    }

    .cmp-carousel__action--previous {
        .cmp-carousel__action-icon {
            &:before {
                content: $wkndicon-left-arrow; 
            }
        }
    }

    .cmp-carousel__action--next {
        .cmp-carousel__action-icon {
            &:before {
                content: $wkndicon-right-arrow; 
            }
        }
    }
}
.cmp-carousel--hero {
    padding-left: 0 !important;
    padding-right: 0 !important;

    .cmp-carousel {
        margin-bottom:4em;
    }

      @media (max-width: $screen-small) {
        .cmp-carousel__indicators {
            float: left;
            padding-left: $gutter-padding;
            padding-top: $gutter-padding;
        }
      }
    
}

$mini-carousel-max-height: 400px;

.cmp-carousel--mini {
    padding-left: 0 !important;
    padding-right: 0 !important;

    .cmp-carousel {
        width: 100%;
    }

    /* Max height embedded images */
    .cmp-image {

        .cmp-image__image {
            min-height: $mini-carousel-max-height;
            height: $mini-carousel-max-height;
            object-fit: cover;
            object-position: center;
        }
    }
}