/* Light */
.cmp-title--white {
    .cmp-title__text {
        color: $text-color-inverse;
    }
}

/* Gray */
.cmp-title--gray {
    .cmp-title__text {
        color: $gray;
    }
}

/* Black */
.cmp-title--black {
    .cmp-title__text {
        color: $black;
    }
}

/* Bold */
.cmp-title--bold {
    .cmp-title__text {
        font-weight: 600;
    }
}


.cmp-title--label {

    .cmp-title {
        padding-top: ($gutter-padding / 2 );
        text-align: right;
        
        & h1 {
            font-size: 4rem;
        }

        & h2 {
            font-size: 3rem;
        }

        & h3 {
            font-size: 1rem;
        }

        & h4 {
            font-size: 0.75rem;
        }
    }

    .cmp-title__text {
        font-family: $font-family-sans-serif;
        text-transform: uppercase;
    }

     /* Mobile View */
     @media (max-width: $screen-medium) {
        .cmp-title {
            text-align: unset;
        }
    }
}

.cmp-title--underline { 
 
    .cmp-title {
     .cmp-title__text {
      &:after {
      display: block;
         width: 84px;
         padding-top: 8px;
         content: '';
         border-bottom: 2px solid $brand-primary;
      }
     }
    }
   }
 
   .cmp-title--minispacing {
    .cmp-title__text {
       margin-top: 0rem;
       margin-bottom: 3rem;
    }
   }
 
 .cmp-title--right {
    .cmp-title {
       text-align: right;
 
       @media (max-width: $screen-medium) {
              text-align: unset;
      }
    }
 }